/*scss*/
.w5 {
    width:5rem !important;
    p {
        color: #4183c4;
        text-align: center;
        word-wrap: break-word;
    }
}
.pre {
    background-color: #ccc;
    border-radius: 0.3rem;
    line-height: 1.5rem;
    padding: 1rem;
}
.code {
    word-break: break-word;
    white-space: pre-wrap;
}
.w {
    width: 17rem;
    position: relative;
    > a {
        display: block;
        text-align: center;
        position: static !important;
        background-color: #fff !important;
    }
}
.mh10 {
    max-height: calc(1em + 1.5rem*10 + 1rem);
}
.content {
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0;
    p {
        margin: 0 !important;
    }
    img {
        width: 80%;
        max-width: 30rem;
        margin: 1rem 0;
    }
}
.tac {
    text-align: center;
    a {
        display: block;
        color: #ccc;
    }
}
.mask{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background:-moz-linear-gradient(bottom,rgba(255,255,255,0.1),rgba(255,255,255,0));
    background:-webkit-gradient(linear,0 top,0 bottom,from(rgba(255,255,255,0)),to(#fff));
    background:-o-linear-gradient(bottom,rgba(255,255,255,0.1),rgba(255,255,255,0));
}
.p1 {
    padding: 1rem 0 !important;
}