<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>biquge</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport">
    <link type="text/css" rel="stylesheet" href="/static/semantic.min.css" >
</head>
<body>
<div id="root"></div>
</body>
<script src="/static/readPage.js"></script>
<script src="/static/jquery.min.js"></script>
<script src="/static/semantic.min.js"></script>
</html>