/*scss*/

.mt0 {
    margin-top:0 !important;
}
.iconMiddle {
    vertical-align: middle !important;
}
.img {
    width: 1.18em !important;
    height: 1em !important;
    vertical-align: middle !important;
}