/*scss*/

.m {
    margin: 0 5%;
}
.mb  {
    margin:1em 0;
    width:85%;
}
.m2 {
    margin: 0 2rem;
}
.fileBox {
    display: inline;
    position: relative;
    margin-left: 1rem !important;
    i {
        cursor: pointer;
    }
    input {
        width: 1.18em !important;
        height: 100%;
        position: absolute;
        top: 50%;
        right:0;
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        transform: translate(0, -50%);
        opacity: 0;
        cursor: pointer;

    }
}